body {
	margin: 0;
}

div {
    border: 1px solid Chocolate;
}

/* Navigation Section*/
.header {
	background-color: #fff;
	width:100%;
	position:absolute;
	border-bottom: .1rem solid #DDD;
}

.header > div.content {
	padding: 0rem .5rem;
}


.header .links {
	list-style-type: none;
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}

.header .links li {
	display: inline;
	padding: 0rem 1.3rem;
}

/* makes li active with a set color */
.header .links > li.active {
    color: #4c5058;
    font-weight: 500;
}

/* mouse over link */
.header .links li:hover {
	cursor: pointer;
	color: #333333;
}

/* Middel section with background image*/

.middle {
    background-image: url('../images/first-background copy.jpg');
    background-position: right -10rem top -6rem;
    background-repeat: no-repeat;
    color: white;
    position: fixed;
    height: 250rem;
    width: 100%;
    margin-top: 3.4rem;
}

h1 {
    position: relative;
    left: 41%;
    margin-top: 12rem;
    font-size: 3rem;
}

h3 {
	position: relative;
    left: 40%;
    font-size: 1.5rem;
    margin-top: -2rem;
}

button {
	position: relative;
	left: 50%;
}





