/* Want the font for all text to be Roboto*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased; /*specific effect for Karma landing page*/
}

/* Navigation Section
===============================================
===============================================
*/
.header {
	background-color: #fff;
	width:100%;
	position:fixed;
	border-bottom: .1rem solid #DDD;
}

.header > .content {
	height: 4.375rem;
}

.header .logo {
    height: 4.375rem;
}

.content {
	/* was this padding even necessary?*/
	padding: 0 0.909rem;
	margin: 0 auto;
    min-width: 37.5rem;
}


.header .links {
	list-style-type: none;
	float: right;
	font-size: 1.04rem;
	color: #838994;
	letter-spacing: 0.03em;
	margin-top: 1.7rem;
}

.header .links li {
	display: inline;
	margin-left:1.5rem;
}
/* this was making the logo drop out of the nav
when I opened dev tools. I changed to margin-left
and it corrected the problem..?  

	**********************
	**********************
**** padding: 0rem 1.3rem; ****
	**********************
	**********************

/* makes li active with a set color */
.header .links > li.active {
    color: #4c5058;
    font-weight: 500;
}

/* mouse over link */
.header .links li:hover {
	cursor: pointer;
	color: #333333;
}

/* Middel section with background image
==============================================================
==============================================================
*/

.middle {
    background-image: url('../images/first-background copy.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.9rem;
    overflow: auto;
}

.middle h1 {
	margin-top:15rem;
	margin-bottom:0;
	font-size:3rem;
}

.middle h1, .middle h3 {
	color: #FFFFFF;
	text-align: center;
	font-weight: 300;
}

.BigButton {
	background-color: #f15a29; 
    text-shadow: none;
    color: #FFFFFF;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}

/* Middle section continued - Title "Product info section"
======================================================================
======================================================================
*/

.howItWorks h1 {
	text-align: center;
	font-size:3rem;
	font-weight: 100;
}

.content > div.options{
	text-align: center;
}


.options > div.option {
	display:inline-block;
	margin: 0 3.5rem;
}

/* Footer - Social Media
======================================================================
======================================================================
*/

footer {
	background-color: #fff;
	width: 100%;
	text-align: center;
	padding-bottom: 9.375rem;
}

hr {
	width: 55.5rem;
	/* Inset, by Dan Eden */
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer div.content {
	width: 60%;
	text-align: center;
}

div.content h4 {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: 100;
}

div.content > ul.social {
	list-style-type: none;
	text-align: center;
	margin-right: 1rem;
}

ul.social > li {
	border-radius: 1.25rem;
	width: 2.5rem;
	display: inline-block;
	margin: 1.25rem .5rem;
	padding: .625rem 0;
	text-align: center;
}

.social .twitter {
    color: #55acee;
}

.social .facebook {
    color: #4c66a4;
}

.social .instagram {
    color: #3f729b;
}
